body {
    background-color: #F1E1D9;
}

div {
    text-align: center;
    font-family: Georgia, serif;
    padding: 30px;
    font-size: 1.5em;
	line-height: 1.5;
}

img {
    height: 100px;
    width: 100pc;
}